{{extend 'layout.html'}}

<div style="position: absolute; left: 0;top: 0;bottom: 0;right: 0" id="drawingContainer" v-on:mousemove="onMouseMove" v-on:mouseup="onMouseUp">
  <svg style="width:100%; height:100%;">
    <rect v-if="currentMode != 'draw'" x="0" y="0" width="20000" height="20000" v-on:mousedown="onStagePressed" fill="transparent"></rect>
    <path v-for="s in shapes" v-bind:d="serializePoints(s)" stroke="#000000" fill="#dddddd"></path>
    <path v-if="points.length>0" v-bind:d="serializePoints(points)" stroke="#999999" fill="transparent"></path>
    <rect v-if="currentMode == 'draw'" x="0" y="0" width="20000" height="20000" v-on:mousedown="onStagePressed" fill="transparent"></rect>

    <g>
      <g v-for="(p,i) in points">
        <g v-for="(v,j) in p">
          <line v-if="j==1 && p.length==3" v-bind:x1="v.x != undefined ? v.x : getLastX(i)" v-bind:y1="v.y != undefined ? v.y : getLastY(i)" v-bind:x2="p[p.length-1].x" v-bind:y2="p[p.length-1].y" stroke="#cccccc" stroke-width="1"></line>
          <line v-if="j==0 && p.length==3" v-bind:x1="v.x != undefined ? v.x : getLastX(i)" v-bind:y1="v.y != undefined ? v.y : getLastY(i)" v-bind:x2="points[i-1][points[i-1].length-1].x" v-bind:y2="points[i-1][points[i-1].length-1].y" stroke="#cccccc" stroke-width="1"></line>
          <line v-if="j==0 && p.length==2" v-bind:x1="v.x != undefined ? v.x : getLastX(i)" v-bind:y1="v.y != undefined ? v.y : getLastY(i)" v-bind:x2="p[p.length-1].x" v-bind:y2="p[p.length-1].y" stroke="#cccccc" stroke-width="1"></line>
        </g>
      </g>
    </g>

    <g>
      <g v-for="(p,i) in points">
        <circle v-for="(v,j) in p" v-if="p[0].command != 'Z'" v-bind:r="j==p.length-1 ? 8 : 4" v-bind:command="p[0].command" v-bind:cx="v.x != undefined ? v.x : getLastX(i)" v-bind:cy="v.y != undefined ? v.y : getLastY(i)" v-bind:point-index="i" v-bind:sub-index="j" v-on:mousedown="onPointPress"></circle>
        <circle v-if="i==0 && reserveAnchor != undefined" r="4" command="reserveAnchor" v-bind:cx="reserveAnchor.x" v-bind:cy="reserveAnchor.y" point-index="-1" v-bind:sub-index="-1" v-on:mousedown="onPointPress"></circle>
        <circle v-if="i==0 && startingAnchor != undefined" r="4" command="startingAnchor" v-bind:cx="startingAnchor.x" v-bind:cy="startingAnchor.y" point-index="-2" v-bind:sub-index="-1" v-on:mousedown="onPointPress"></circle>
      </g>
    </g>
  </svg>
</div>
<script>
  var _vm;
  (function(){
    Vue.options.delimiters = ['{%', '%}'];
    var mainVue = new Vue({
      el:"#drawingContainer",
      data:{
        modes:{DRAW:"draw",EDIT:"edit",MOVE:"move"},
        items:["apples","Cheese","Farts"],
        points:[],
        selectedPoint:-3,
        selectedSubPoint:-1,
        currentMode:"draw",
        drawCommands:{M:"M",L:"L",C:"C",S:"S",T:"T",Q:"Q",V:"V",H:"H",A:"A",Z:"Z"},
        currentDrawCommand:"C",
        startingAnchor:undefined,
        reserveAnchor:undefined,
        pointSatelites:[],
        shapes:[],
        selectedShape:-1
      },
      methods:{
        onStagePressed:function(e){
          var self = this;

          

          switch(self.$data.currentMode){
              case self.$data.modes.EDIT:{

                break;
              }
              case self.$data.modes.DRAW:
              {
                if(self.$data.points.length<1){
                  //self.$data.points.push({x:e.pageX,y:e.pageY,back:{x:e.pageX,y:e.pageY},forward:{x:e.pageX,y:e.pageY}});
                  self.$data.points.push([{command:self.$data.drawCommands.M,x:e.pageX,y:e.pageY}]);
                  self.$data.selectedShape = self.$data.shapes.length;

                }
                else{
                  switch(self.$data.currentDrawCommand){
                    case self.$data.drawCommands.L:
                    case self.$data.drawCommands.T:{
                      self.$data.points.push([{command:self.$data.currentDrawCommand,x:e.pageX,y:e.pageY}]);
                      break;
                    }
                    case self.$data.drawCommands.C:
                    case self.$data.drawCommands.S:
                    case self.$data.drawCommands.Q:{
                      self.$data.points.push([]);
                      var pLong = self.$data.points.length-1;
                      if(self.$data.reserveAnchor!=undefined){
                        //self.$data.reserveAnchor.x = self.$data.points[pLong-1][self.$data.points[pLong-1].length-1].x;
                        //self.$data.reserveAnchor.y = self.$data.points[pLong-1][self.$data.points[pLong-1].length-1].y;
                        self.$data.points[pLong].push({x:self.$data.reserveAnchor.x,y:self.$data.reserveAnchor.y,command:self.$data.currentDrawCommand});
                        //self.$data.reserveAnchor = undefined;
                      }
                      self.$data.points[pLong].push({x:e.pageX,y:e.pageY});
                      if(self.$data.currentDrawCommand == self.$data.drawCommands.C){
                        self.$data.points[pLong].push({x:e.pageX,y:e.pageY});
                      }
                      
                      break;
                    }
                    // case self.$data.drawCommands.S:{
                    //   break;
                    // }
                    // case self.$data.drawCommands.Q:{
                    //   break;
                    // }
                    case self.$data.drawCommands.V:{
                      self.$data.points.push([{command:self.$data.currentDrawCommand,y:e.pageY}]);
                      break;
                    }
                    case self.$data.drawCommands.H:{
                      self.$data.points.push([{command:self.$data.currentDrawCommand,x:e.pageX}]);
                      break;
                    }
                    case self.$data.drawCommands.A:{
                      var lastPoint = self.$data.points[self.$data.points.length-2][self.$data.points[self.$data.points.length-2].length-1];
                      var dist = v4v.distance(lastPoint.x,lastPoint.y,e.pageX,e.pageY);
                      self.$data.points.push([{command:self.$data.currentDrawCommand,x:e.pageX,y:e.pageY,rx:dist,ry:dist,angle:0,arc:0,sweep:1}]);
                      break;
                    }
                  }
                }
                self.$data.selectedPoint = self.$data.points.length-1;
                //self.$data.points.push({x:e.pageX,y:e.pageY,back:{x:e.pageX,y:e.pageY},forward:{x:e.pageX,y:e.pageY}});
                
              }
            }

        },
        onPointPress:function(e){
          var self = this;

          // if(self.$data.currentMode == "edit"){

          //   self.$data.selectedPoint = Number(e.currentTarget.getAttribute("point-index"));
          //   console.log(Number(e.currentTarget.getAttribute("point-index")));
          // }

          self.$data.selectedPoint = Number(e.currentTarget.getAttribute("point-index"));
          self.$data.selectedSubPoint = Number(e.currentTarget.getAttribute("sub-index"));

          switch(self.$data.currentMode){
            
            case self.$data.modes.DRAW:{
              if(self.$data.points[self.$data.selectedPoint][0].command==self.$data.drawCommands.M){
                //close shape
                //console.log("start clicked");

                if(self.$data.points[self.$data.points.length-1][0].command==self.$data.drawCommands.C){
                  self.$data.points.push([{x:self.$data.reserveAnchor.x,y:self.$data.reserveAnchor.y,command:self.$data.drawCommands.C},{x:self.$data.startingAnchor.x,y:self.$data.startingAnchor.y},{x:self.$data.points[self.$data.selectedPoint][0].x,y:self.$data.points[self.$data.selectedPoint][0].y}]);
                  
                }



                closeShape(self.$data);

              }
              break;
            }
            case self.$data.modes.EDIT:{
              //self.$data.selectedPoint = Number(e.currentTarget.getAttribute("point-index"));
              //self.$data.selectedSubPoint = Number(e.currentTarget.getAttribute("sub-index"));

              if(self.$data.selectedPoint>=0){
                switch(self.$data.points[self.$data.selectedPoint][0].command)
                {
                  case self.$data.drawCommands.L:
                  case self.$data.drawCommands.T:
                  case self.$data.drawCommands.H:
                  case self.$data.drawCommands.V:
                  case self.$data.drawCommands.A:
                  {
                    break;
                  }
                  case self.$data.drawCommands.M:{
                    if(self.$data.points[self.$data.selectedPoint+1] != undefined && self.$data.points[self.$data.selectedPoint+1][0].command == self.$data.drawCommands.C){
                      var p1 = self.$data.points[self.$data.selectedPoint+1][0];
                      self.$data.pointSatelites[0] = {point:p1,offset:{x:p1.x-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x,y:p1.y-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].y},mode:"follow"};
                      if(self.$data.startingAnchor != undefined){
                        var p2 = self.$data.startingAnchor;
                        self.$data.pointSatelites[1] = {point:p2,offset:{x:p2.x-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x,y:p2.y-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].y},mode:"follow"};
                      }
                    }
                    break;
                  }
                  case self.$data.drawCommands.C:
                  case self.$data.drawCommands.S:
                  case self.$data.drawCommands.Q:{
                    if(self.$data.selectedSubPoint == self.$data.points[self.$data.selectedPoint].length-1/*2*/){
                      var p1 = self.$data.points[self.$data.selectedPoint][self.$data.points[self.$data.selectedPoint].length-2];
                      
                      self.$data.pointSatelites[0] = {point:p1,offset:{x:p1.x-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x,y:p1.y-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].y},mode:"follow"};
                      if(self.$data.points[self.$data.selectedPoint][0].command == self.$data.drawCommands.C){
                        if(self.$data.points[self.$data.selectedPoint+1]!=undefined && self.$data.points[self.$data.selectedPoint+1][0].command==self.$data.drawCommands.C){
                          var p2 = self.$data.points[self.$data.selectedPoint+1][0];
                          self.$data.pointSatelites[1] = {point:p2,offset:{x:p2.x-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x,y:p2.y-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].y},mode:"follow"};
                        }
                        else if(self.$data.points[self.$data.selectedPoint+1]==undefined && self.$data.reserveAnchor != undefined){
                          var p2 = self.$data.reserveAnchor;
                          self.$data.pointSatelites[1] = {point:p2,offset:{x:p2.x-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x,y:p2.y-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].y},mode:"follow"};
                        }
                      }
                      
                    }
                    else if (self.$data.points[self.$data.selectedPoint][0].command == self.$data.drawCommands.C){
                      var targetAnchor = self.$data.selectedSubPoint == 0 ? self.$data.points[self.$data.selectedPoint-1] : self.$data.points[self.$data.selectedPoint+1];
                      if(targetAnchor!=undefined && targetAnchor[0].command == self.$data.drawCommands.C){
                        var p1 = self.$data.selectedSubPoint == 0 ? self.$data.points[self.$data.selectedPoint-1][1] : self.$data.points[self.$data.selectedPoint+1][0];
                        var cp = self.$data.selectedSubPoint == 0 ? self.$data.points[self.$data.selectedPoint-1][2] : self.$data.points[self.$data.selectedPoint][2];
                        self.$data.pointSatelites = [
                          {point:p1,offset:{x:p1.x-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x,y:p1.y-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].y},mode:"mirror",center:cp,dist:v4v.distance(p1.x,p1.y,cp.x,cp.y)}
                        ];
                      }
                      else if(targetAnchor!=undefined && targetAnchor[0].command == self.$data.drawCommands.M && self.$data.startingAnchor != undefined){
                        var p1 = self.$data.startingAnchor;
                        var cp = self.$data.points[self.$data.selectedPoint-1][0];
                        self.$data.pointSatelites = [
                          {point:p1,offset:{x:p1.x-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x,y:p1.y-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].y},mode:"mirror",center:cp,dist:v4v.distance(p1.x,p1.y,cp.x,cp.y)}
                        ];
                      }
                      else if(targetAnchor==undefined && self.$data.reserveAnchor != undefined){
                        var p1 = self.$data.reserveAnchor;
                        var cp = self.$data.points[self.$data.selectedPoint][2];
                        self.$data.pointSatelites = [
                          {point:p1,offset:{x:p1.x-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x,y:p1.y-self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].y},mode:"mirror",center:cp,dist:v4v.distance(p1.x,p1.y,cp.x,cp.y)}
                        ];
                      }
                    }
                  }
                  
                }
              }
              else{
                if(self.$data.selectedPoint == -1){
                  //console.log("selected reserve point - "+self.$data.points[self.$data.points.length-1][0].command);
                  var cp = self.$data.points[self.$data.points.length-1][self.$data.points[self.$data.points.length-1].length-1];

                  if(self.$data.points[self.$data.points.length-1][0].command == self.$data.drawCommands.C){
                    var p1 = self.$data.points[self.$data.points.length-1][1];
                    self.$data.pointSatelites = [
                      {point:p1,offset:{x:p1.x-self.$data.reserveAnchor.x,y:p1.y-self.$data.reserveAnchor.y},mode:"mirror",center:cp,dist:v4v.distance(p1.x,p1.y,cp.x,cp.y)}
                    ];
                  }
                  else if(self.$data.points[self.$data.points.length-1][0].command == self.$data.drawCommands.M){
                    var p1 = self.$data.startingAnchor;
                    self.$data.pointSatelites = [
                      {point:p1,offset:{x:p1.x-self.$data.reserveAnchor.x,y:p1.y-self.$data.reserveAnchor.y},mode:"mirror",center:cp,dist:v4v.distance(p1.x,p1.y,cp.x,cp.y)}
                    ];
                  }
                }
                else if(self.$data.selectedPoint == -2){
                  var cp = self.$data.points[0][0];
                  if(self.$data.points.length > 1 && self.$data.points[1][0].command == self.$data.drawCommands.C){
                    var p1 = self.$data.points[1][0];
                    self.$data.pointSatelites = [
                      {point:p1,offset:{x:p1.x-self.$data.startingAnchor.x,y:p1.y-self.$data.startingAnchor.y},mode:"mirror",center:cp,dist:v4v.distance(p1.x,p1.y,cp.x,cp.y)}
                    ];
                  }
                  else if(self.$data.points.length == 1){
                    var p1 = self.$data.reserveAnchor;
                    self.$data.pointSatelites = [
                      {point:p1,offset:{x:p1.x-self.$data.startingAnchor.x,y:p1.y-self.$data.startingAnchor.y},mode:"mirror",center:cp,dist:v4v.distance(p1.x,p1.y,cp.x,cp.y)}
                    ];
                  }
                }

              }


              break;
            }
          }
        },
        onMouseMove:function(e){
          //var self = this;
          mouseMoved(this,e);

          
          
        },
        onMouseUp:function(e){
          var self = this;
          mouseMoved(this,e);
          self.$data.selectedPoint = -3;
          self.$data.pointSatelites = [];


          mapToShapes(self.$data);
        },
        serializePoints:function(pointList){
          var self = this;
          var pointString = "";
          for(var i = 0;i<pointList.length;i++){
            pointString+=pointList[i][0].command;
            pointString+=" ";
            for(var j = 0;j<pointList[i].length;j++){
              if(pointList[i][j].rx != undefined){
                pointString+=pointList[i][j].rx;
                pointString+=" ";
              }
              if(pointList[i][j].ry != undefined){
                pointString+=pointList[i][j].ry;
                pointString+=" ";
              }
              if(pointList[i][j].angle != undefined){
                pointString+=pointList[i][j].angle;
                pointString+=" ";
              }
              if(pointList[i][j].arc != undefined){
                pointString+=pointList[i][j].arc;
                pointString+=" ";
              }
              if(pointList[i][j].sweep != undefined){
                pointString+=pointList[i][j].sweep;
                pointString+=" ";
              }
              if(pointList[i][j].x != undefined){
                pointString+=pointList[i][j].x;
                pointString+=" ";
              }
              if(pointList[i][j].y != undefined){
                pointString+=pointList[i][j].y;
                pointString+=" ";
              }
              //rx:Number(values[0]),ry:Number(values[1]),angle:Number(values[2]),arc:Number(values[3]),sweep:Number(values[4])
              
              
            }
            
          }
          return pointString;
        },
        getLastX:function(index){
          var self = this;
          var xVal = 0;
          for(var i = index-1;i>=0;i--){
            console.log(i);
            if(self.$data.points[i][0].command.toUpperCase() != "V"){
              
              xVal = self.$data.points[i][self.$data.points[i].length-1].x;
              i=-1;
            }
          }
          return xVal;
        },
        getLastY:function(index){
          var self = this;
          var yVal = 0;
          for(var i = index-1;i>=0;i--){
            if(self.$data.points[i][0].command.toUpperCase() != "H"){
              
              yVal = self.$data.points[i][self.$data.points[i].length-1].y;
              i=-1;
            }
          }
          return yVal;
        }
      }
    });

    _vm = mainVue;

    function mapToShapes(_data){
      if(_data.selectedShape > -1){
        _data.shapes[_data.selectedShape] = JSON.parse(JSON.stringify(_data.points));
      }
    }

    function closeShape(_data){
      _data.points.push([{command:_data.drawCommands.Z}]);

      mapToShapes(_data);

      _data.selectedShape = -1;

      _data.points = [];
      _data.reserveAnchor = undefined;
      _data.startingAnchor = undefined;
      _data.selectedPoint = -3;
      _data.selectedSubPoint -1;
    }

    function mouseMoved(self,e){
      if(self.$data.selectedPoint>-3){
        switch(self.$data.currentMode){
          case self.$data.modes.EDIT:{
            var draggedPoint;
            if(self.$data.selectedPoint>=0){
              //self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x = self.$data.points[self.$data.selectedPoint][0].command == self.$data.drawCommands.V ? e.pageY : e.pageX;
              if(self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x != undefined){
                self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].x = e.pageX;
              }
              if(self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].y != undefined){
                self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint].y = e.pageY;
              }
              
              draggedPoint = self.$data.points[self.$data.selectedPoint][self.$data.selectedSubPoint];
            }
            else if(self.$data.selectedPoint==-1){
              self.$data.reserveAnchor.x = e.pageX;
              self.$data.reserveAnchor.y = e.pageY;
              draggedPoint = self.$data.reserveAnchor;
            }
            else if(self.$data.selectedPoint==-2){
              self.$data.startingAnchor.x = e.pageX;
              self.$data.startingAnchor.y = e.pageY;
              draggedPoint = self.$data.startingAnchor;
            }
            if(draggedPoint != undefined){
              for(var i = 0;i<self.$data.pointSatelites.length;i++){
                if(self.$data.pointSatelites[i].mode=="follow"){
                  self.$data.pointSatelites[i].point.x = self.$data.pointSatelites[i].offset.x + e.pageX;
                  self.$data.pointSatelites[i].point.y = self.$data.pointSatelites[i].offset.y + e.pageY;
                }
                else if(self.$data.pointSatelites[i].mode=="mirror"){
                  var angle = v4v.angle(draggedPoint.x,draggedPoint.y,self.$data.pointSatelites[i].center.x,self.$data.pointSatelites[i].center.y);
                  self.$data.pointSatelites[i].point.x = v4v.orbit(self.$data.pointSatelites[i].center.x,self.$data.pointSatelites[i].dist,angle,"cos"); //self.$data.pointSatelites[i].offset.x + e.pageX;
                  self.$data.pointSatelites[i].point.y = v4v.orbit(self.$data.pointSatelites[i].center.y,self.$data.pointSatelites[i].dist,angle,"sin");
                }
                
              }
            }
            
            // self.$data.points[self.$data.selectedPoint].x = e.pageX;
            // self.$data.points[self.$data.selectedPoint].y = e.pageY;
            break;
          }
          case self.$data.modes.DRAW:
          {
            switch(self.$data.currentDrawCommand){
              case self.$data.drawCommands.L:
              case self.$data.drawCommands.T:
              case self.$data.drawCommands.H:
              case self.$data.drawCommands.V:
              case self.$data.drawCommands.A:{
                break;
              }
              case self.$data.drawCommands.C:
              case self.$data.drawCommands.S:
              case self.$data.drawCommands.Q:{

                //console.log(self.$data.points.length);


                if(self.$data.points.length == 1 && self.$data.startingAnchor == undefined){
                  self.$data.reserveAnchor = {x:0,y:0};
                  if(self.$data.currentDrawCommand == self.$data.drawCommands.C){
                    self.$data.startingAnchor = {x:0,y:0};
                  }
                  
                }
                else{

                  if(self.$data.points[self.$data.selectedPoint].length == 1){

                    self.$data.reserveAnchor = {x:0,y:0};
                    
                  }

                }
                var forwardPoint = self.$data.reserveAnchor;

                forwardPoint.x = e.pageX;
                forwardPoint.y = e.pageY;

                if(self.$data.currentDrawCommand == self.$data.drawCommands.C){
                  var currPointsLong = self.$data.points[self.$data.selectedPoint].length-1;

                  var backwardPoint =  self.$data.points[self.$data.selectedPoint][1] != undefined ? self.$data.points[self.$data.selectedPoint][1] : self.$data.startingAnchor;

                  backwardPoint.x = self.$data.points[self.$data.selectedPoint][currPointsLong].x-(forwardPoint.x-self.$data.points[self.$data.selectedPoint][currPointsLong].x);
                  backwardPoint.y = self.$data.points[self.$data.selectedPoint][currPointsLong].y-(forwardPoint.y-self.$data.points[self.$data.selectedPoint][currPointsLong].y);
                }

                


                
                break;
              }
              // case self.$data.drawCommands.S:{
              //   break;
              // }
              // case self.$data.drawCommands.Q:{
              //   break;
              // }
              case self.$data.drawCommands.A:{
                break;
              }
            }
            
            break;
          }
        }
        
      }

      mapToShapes(self.$data);
    }
  })();
</script>